# Copie este arquivo para .env e ajuste se necessário
SQL_SERVER=192.168.17.15
SQL_PORT=1433
SQL_DATABASE=jmineops_uem
SQL_USER=consulta
SQL_PASSWORD=consulta
SQL_ENCRYPT=false
SQL_TRUST_SERVER_CERTIFICATE=true

# Se a instância nomeada for obrigatória, descomente:
# SQL_INSTANCE=UEMSQLHEX