SSRS_URL=http://192.168.17.15/ReportServer
SSRS_REPORT_PATH=/JMineOPS/Relatorios_HOMOLOGAÇÃO/Produção Diária
SSRS_USERNAME=
SSRS_PASSWORD=
SYNC_INTERVAL=300
SUPABASE_URL=https://wylcqazlxytrgsoaunni.supabase.co
SUPABASE_SERVICE_ROLE_KEY=
AGENT_TOKEN=UEM_MINEOPS_2026
PORT=3000
